# Build y artefactos
bin/
obj/
**/out/
*.log
*.bak

# Herramientas/IDE
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user
*.rsuser
*.aps
*.ncb
*.opendb
*.VC.db
.idea/
*.iml

# VS Code (mantén .vscode si guardas tareas/configs)
.vscode/*
!.vscode/*.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# Sistema operativo
.DS_Store
Thumbs.db

# Paquetes descargados/restaurados
packages/
*.nupkg
